body {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  box-sizing: border-box;
  margin: 0px;
}

div > .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0;
}
